@use "light";
@use "dark";

// Common properties
:root {
  --header-font: "Satoshi", serif;
  --body-font: "Inter", sans-serif;
  --color-success: #4CAF50;
  --color-crocodile: #7A725A;
  --color-cocoa: #231F20;
  --color-desert: #FAFAF8;
  --color-timberwolf: #D6D3CC;
  --color-green-white: #EAE7DF;
  --spacing: 1rem;
  --radius: 6px;
  --transition: .2s ease-out;
}


// Light color scheme (Default)
// Can be forced with data-theme="light"
[data-theme="light"],
:root:not([data-theme="dark"]) {
  @include light.theme;

}

// Dark color scheme (Auto)
// Automatically enabled if user has Dark mode enabled
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    @include dark.theme;

  }
}

// Dark color scheme (Forced)
// Enabled if forced with data-theme="dark"
[data-theme="dark"] {
  @include dark.theme;
}
